future==0.17.1
ImageHash==4.0
joblib==0.13.2
ngt==1.5.1
numpy==1.16.2
opencv-python==4.0.0.21
orderedset==2.0.1
pathlib==1.0.1
pathos==0.2.3
Pillow==5.4.1
pybind11==2.2.4
scipy==1.2.1
six==1.12.0
termcolor==1.1.0
tqdm==4.31.1
webcolors==1.8.1
