GPUtil==1.4.0
future==1.0.0
ImageHash==4.3.2
joblib==1.4.2
ngt==2.3.12
numpy==1.24.4
opencv-python==4.11.0.86
orderedset==2.0.3
pathlib==1.0.1
pathos==0.3.4
Pillow==10.4.0
scipy==1.10.1
six==1.17.0
termcolor==2.4.0
tqdm==4.67.1
webcolors==24.8.0
